/*  APP STYLES
*********************************/

/* BEGIN General Styles
 ------------------------------*/

* {
  box-sizing: border-box;
  margin: 0px;
}

/* Color Variables */

:root {
  --first-color: #0D0D0D;
  --second-color: #404040;
  --third-color: #737373;
  --fourth-color: #FFFFFF;
  --fifth-color: #05E177;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: var(--second-color);
  line-height: 1.5;
  background-image: url('./assets/swirl.png');
}

section {
  min-height: 200px;
  padding: 1em 1em;
}

header {
  padding: 7em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 
}

footer {
  align-items: baseline;
  margin: 0;
  height: 150px;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif;
}

hr {
  width: 75%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

div.container  h2 {
  display: flex;
  align-items: center;
}

div.container {
  align-items: center;
}

.container {
  padding: 0 5%;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.container-icons {
  min-width: 50%;
}

.row-icon {
  padding: 5px 0px;
}

/* END General Styles
 ------------------------------*/

 /* BEGIN Navigation Styles
 ------------------------------*/

nav, footer {
  background-color: var(--first-color);
  color: var(--fourth-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0px 0px 4px black;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  padding: 10px 2em;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: var(--fifth-color);
}

/* END Navigation Styles
 ------------------------------*/

/* BEGIN Hamburger Styles
 ------------------------------*/
 
 .responsive-menu{
  display: none;
  position: fixed;
  padding-top: 75px;
  height: 100%;
  max-width: 150px;
  background-color: var(--first-color);
  right: 0;
  z-index: 8;
  box-shadow: 0px 0px 4px black
 }
 
 .expand {
   display: block !important; 
 }

 .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: var(--fourth-color); }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: var(--fourth-color);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* END Hamburger Styles
 ------------------------------*/

/* BEGIN Image/Icon Styles
 ------------------------------*/

.headshot {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
}

.headshot__img {
  border-radius: 50%;
  box-shadow: 2px 2px 11px 1px #b3abab;
}

.jquery {
  height: 40px;
  width: 40px;
}

.react-icon:hover {
  color: #53D2FA;
}

.node-icon:hover {
  color: #0E5D01;
}

.html5-icon:hover {
  color: #DA391D;
}

.css3-icon:hover {
  color: #1B2FD7;
}

.js-icon:hover {
  color: #EDD418;
}

.screenshots {
  margin: 0;
  padding: 10px 0px;
  border-radius: 5px;
}

.github-repo-icon {
  color: var(--first-color);
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.github-repo-icon:hover {
  color: var(--fifth-color);
}

/* END Image Styles
 ------------------------------*/

/* BEGIN Text Styles
 ------------------------------*/
 
.greeting {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
}

.p-text {
  max-width: 600px;
  padding: 1em;
}

.about-text {
  display: flex;
  align-items: center;
}

/* END Text Styles
 ------------------------------*/

 /* BEGIN Tooltip Styles
 ------------------------------*/
 /* from W3 schools */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--second-color);
  color: var(--fourth-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--second-color) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

 /* END Tooltip Styles
 ------------------------------*/

/* mobile styles */
@media only screen and (min-width: 320px) {
  .mobile-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
  }

  .section--layout {
    padding: 1.5em;
  }

  div.container-icons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
  }

  .jquery {
    height: 25px;
    width: 25px;
  }

  .postgresql {
    height: 35px;
    width: 35px;
  }
}

/* tablet styles */
@media only screen and (min-width: 550px) {
  header {
    padding: 7em 1em 1em 1em;
  }

  @media only screen and (max-width: 550px) {
    .p-text{
      padding: 0;
      font-size: 16px;
    }
  }

  header div {
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .mobile-links {
    font-size: 16px;
  }

  .section--layout {
    padding: 0.75em;
  }


  div.container-icons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
  }

  .jquery {
    height: 35px;
    width: 35px;
  }

  .postgresql {
    height: 40px;
    width: 40px;
  }
}

/* desktop styles */
@media only screen and (min-width: 800px) {
  header {
    padding: 5em 1em 1em 1em;
  }

  header div {
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  section div {
    padding: 0.5em 0.75em 0.75em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile-links {
    font-size: 20px;
  }

  .section--layout {
    padding: 0.5em;
  }

  .fa-lg {
    font-size: 2.3333em; 
    line-height: .75em;
    vertical-align: -.0667em;
  }

  .jquery {
    height: 35px;
    width: 35px;
  }

  .postgresql {
    height: 45px;
    width: 45px;
  }
  
}